{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Edit Comment</h1>
    <form action="{{ url_for('edit_comment', comment_id=comment[0]) }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="comment_id" value="{{ comment[0] }}">
        <div class="form-group mb-1">
            <label for="content">Content:</label>
            <textarea class="form-control mb-2" id="content" name="content" rows="10" required>{{ comment[1] }}</textarea>
        </div>
        <button type="submit" class="btn btn-light">Save Changes</button> <a href="/profile" class="btn btn-light">Cancel</a>
    </form>
</div>
{% endblock %}